body {
    font-family: sans-serif;
}

.container {
    display: flex;
}

.header {
    background-color: #1F2937;
    color: #E5E7EB;
    flex: auto;
    flex-direction: column;
}

.headerlogo {
    padding: 20px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    overflow: hidden;
}

.links li {
    float: right;
    list-style-type: none;
}

.links a {
    color: #E5E7EB;
    text-decoration: none;
}