body {
    font-family: sans-serif;
}

.container {
    display: flex;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    flex: auto;
}

.headerlogo {
    padding: 20px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    flex: 1 0 50%;
}

.links {
    padding-right: 20px;
    font-size: 18px;
    color: #E5E7EB;
    overflow: hidden;
    flex: auto;
}

.links li {
    float: right;
    list-style-type: none;
    padding: 8px;
}

.links a {
    color: #E5E7EB;
    text-decoration: none;
}