body {
    font-family: sans-serif;
}

.container {
    display: flex;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    flex: auto;
}

.headerlogo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    overflow: hidden;
    flex: 1;
    width: 50%;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    display: inline;
    overflow: hidden;
    flex: 1;
    width: 50%;
}

.links li {
    list-style-type: none;
    float: right;
    padding: 10px;
}

.links a {
    color: #E5E7EB;
    text-decoration: none;
}